h1 {
    text-align: center;
    color: #013617;
}

.navbar {
    background-color: rgb(241, 230, 186);
    border-radius: 30px;
    overflow: auto;
}

.navbar ul {
    float: right;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 0px 10px;
}

.navbar a {
    text-decoration: none;
    color: #000;
}

.navbar a:hover {
    color: rgb(3, 182, 182)
}

/* .footerr {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 100%;
    background-color: rgb(218, 230, 218);
} */
.sticky{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgb(218, 230, 218);
}

body {
    background-image: url('gec.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.fieldset {
    width: 50%;
    border-radius: 10px;
    border-color: rgb(133, 111, 111);
    border-style: inset;
    border-width: 5px;
    margin: 70px 10%;
    font-size: 18px;
}

legend {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #14022cd4;
}

p {
    color: #ff9a1e;
    text-align: justify;
}

table {
    width: 40%;
    text-align: center;
}

table,th,td {
    border: 1px solid black;
    background-color: #d0e9ff;
    margin: -20% 47%;
}

.tech-field {
    font-size: 18px;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(250, 250, 250);
    border-style: inset;
    width: 30%;
    margin: 65px 20px;
    color: #020202;
}

.personal_detail{
    width: 40%;
    background-color: #d1d1d1;
    border-radius: 10px;
    border: 4px solid #262626
}
.inputtypespace{
    border-radius: 4px;
    width: 190px;
}
.label{
    width: 130px;
    display: inline-block;
    margin: 4px 2px;
    font-size: 19px;
    font-weight: bold;
}
.btn{
        font-size: 23px;
        border: 3px solid black;
        margin: 10px;
        color: rgb(2, 2, 2);
        background-color: rgb(2, 138, 2);
        border-radius: 22px;
        font-weight: bold;
}
.rst{
        font-size: 23px;
        border: 3px solid black;
        margin: 10px;
        color: rgb(2, 2, 2);
        background-color: rgb(241, 45, 45);
        border-radius: 22px;
        font-weight: bold;
}